<div class="row">
  <div class="col-6">
    <h2>Display Customer and Address information</h2>
    <ul>
      <li>
        retrieve 100 Customer and Address records from DB-Interview database asyncrhonously
      </li>
      <li>
        pass data to controller asynchronously using dependency injection
      </li>
      <li>
        display Customer names in select dropdown list
      </li>
      <li>
        when a Customer is selected, display the Customer's full name, phone number, and full address formatted correctly (street and city/state/zip on different lines)
      </li>
    </ul>
    <img src="/assets/images/customer_select_list.PNG" class="mb-2 w-100" />
    <img src="/assets/images/customer_selected.PNG" class="mb-2 w-100" />
  </div>
  <div class="col-6">
    <h2>Display CustomerVehicle information</h2>
    <ul>
      <li>
        retrieve 100 CustomerVehicle records from DB-Interview database asyncrhonously
      </li>
      <li>
        pass data to controller asynchronously using dependency injection
      </li>
      <li>
        display CustomerVehicle year, make, model, trim, and vin pattern in a table
      </li>
    </ul>
    <img src="/assets/images/vehicle_table.PNG" class="mb-2 w-100" />
  </div>
</div>
